@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-color:aquamarine;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Online Shop <strong>Bowls</strong></p>
</div>
<div>   </div>
<div class="text-center">
    <h2  class="display-4" style="color:Red;font-style:italic">About us</h2>
    <p>We are the best Bowl Makers in Canada is rated #1 for customer service, product knowledge and pricing. Whether you’re shopping for bowling balls, bowling bags, bowling shoes or any bowling accessories you can be sure that you will receive first quality products at the lowest prices.</p>
   
    <p>A part of your purchase will be given back to the sport of bowling through our support of local, regional and national events across the United Canada. We thank you!</p>
    <p>We are an authorized dealer for all of the brands that we offer so that you can rest assured we will stand behind every sale. Our friendly, experienced staff of REAL bowlers are knowledgeable in the products that we offer and are happy to answer any questions you may have.</p>
</div>
